*~
source/.pvscontext
*.aux
*.bbl
*.lof
*.log
*.lot
*.out
*.toc
.DS_Store

source/pvsbin/key.bin
source/pvsbin/memory.bin
source/pvsbin/pcr.bin
source/pvsbin/StateMonad.bin
source/pvsbin/tpm.bin
/docs/tpm-spec-design/tpm-spec-design.toc
/docs/tpm-spec-design/tpm-spec-design.blg
/docs/tpm-spec-design/tpm-spec-design.bbl
/source/pvsbin/PermanentFlags.bin
/source/pvsbin/returnCodes.bin
/docs/attestation/attestation.blg